#MAC FILES

*.DS_Store


#LIBRARIES AND BUILD FILES

*.so
*.d
*.pcm

#INSTRUCTION PDFs SUBDIR

**/instructions

#TEST FILE

*minimal.cxx

#DECAY2BODY EXTRA CODE

*extra.cxx

#BINARY

*.out

# VSCODE FILES
.vscode/settings.json

# DECAYMENT TEST

test.root
test_decay.cxx
